<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ftphost" value="altdex.org"/>
    <add key="ftpuser" value="ftpuser"/>
    <add key="ftppass" value="vark922tkm"/>
    <add key="cbsuser" value="archaeal@gmail.com"/>
    <add key="cbspass" value="VarkCBS36"/>
  </appSettings>
</configuration>