<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ftphost" value="FTP_HOST"/>
    <add key="ftpuser" value="FTP_USER"/>
    <add key="ftppass" value="FTP_PASS"/>
    <add key="cbsuser" value="CBS_USER"/>
    <add key="cbspass" value="CBS_PASS"/>
  </appSettings>
</configuration>