<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ftphost" value="***REMOVED***"/>
    <add key="ftpuser" ***REMOVED***/>
    <add key="ftppass" value="***REMOVED***"/>
    <add key="cbsuser" value="***REMOVED***"/>
    <add key="cbspass" value="***REMOVED***"/>
  </appSettings>
</configuration>